<h1>Booking</h1>

<p><%= @booking.plant.name %></p>

  <div class="booking-form col-3">
    <%= simple_form_for [@plant, @booking] do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.button :submit, "Edit", class: "btn btn-green" %>
    <% end %>
  </div>

<%= link_to "Back", dashboard_path %>
<%= link_to "Delete", booking_path(@booking),
    method: :delete,
    data: { confirm: "Are you sure?" }  %>
