  <div class="center-content">
    <h1>Welcome to the dashboard</h1>

      <div class = "padding " style="display: flex;" >
        <%= link_to plants_path do %>
        <button type="button" class="btn btn-primary ">Explore</button>
        <% end %>
        <%= link_to new_plant_path do %>
        <button type="button" class="btn btn-primary " style="margin-left: :20px;">Add a cactus</button>
        <% end %>
          <%= link_to "Search", search_path %>
      </div>

  </div>

  <div class = "padding-left ">


    <div class = "padding">
      <h2>My own cactuses</h2>
        <% @my_own_plants.first(3).each do |plant| %>
          <p>Species: <%= plant.species %> Name: <%= plant.name %> </p>
        <% end %>
    </div>


    <div class = "padding ">
      <h2>Borrowed cactuses </h2>
        <% @my_bookings.first(3).each do |booking| %>
          <p> <%= booking.plant.name %>  belongs to <strong><%= booking.plant.user.first_name%></strong> and you have to return it the <strong><%= booking.end_date %></strong>  </p>
        <% end %>
        <%= link_to bookings_path do %>
           <button type="button" class="btn btn-primary " style="margin-left: :20px;">See all</button>
        <% end %>
    </div>

    <div class="padding">
      <h2>Reviews</h2>
      <% @my_own_plants.each do |plant| %>
        <% plant.bookings.each do |booking| %>
          <ul>
            <% booking.reviews.each do |review| %>
              <li>
                  <%= review.content %>
                  <p>by <%= review.booking.user.first_name %> <%= review.booking.user.last_name %> </p>

              </li>
            <% end %>
          </ul>
        <% end %>
      <% end %>

    </div>

    <div class="padding">
      <h2>Wishlist</h2>
      <% @my_wishes.each do |cactus| %>
        cactus.name
      <% end %>


    </div>


  </div>




