<div class="banner" style="background-image: url('https://images.unsplash.com/photo-1493957988430-a5f2e15f39a3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80')">
  <div class="banner-container  white-container">
    <h3 class="text-center p-3">Add a new plant</h3>
    <div class="row plant-form d-flex">
      <div class="col-lg-6">
        <%= simple_form_for plant do |f| %>
          <%= f.input :name %>
          <%= f.input :species %>
          <%= f.input :instructions %>
          <%= f.input :daily_price %>
          <%= f.input :image %>
          <%= f.input :danger_level %>
          <%= f.button :submit, "Create a new plant", class: "btn btn-red"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
