<div class="container">
  <div class="row">
    <div class="plant-image col-md-6" style="background-image: url(<%= @plant.image %>)"></div>
    <div class="info-container col-md-6">
      <h1><%= @plant.name %></h1>
      <p><strong>Daily Price: <%= @plant.daily_price %></strong></p>
      <p>Owner: <%= @plant.user.first_name %> <%= @plant.user.last_name %> | <%= @plant.address %> </p>
      <p>Specie: <%= @plant.species %></p>
      <p>Danger Level: <%= @plant.danger_level %></p>
      <p>Instructions: <%= @plant.instructions %></p>
      <div class="wrapper">
        <% if policy(@plant).edit? %>
          <%= link_to edit_plant_path(@plant), class: "btn btn-green" do %> Edit <% end %>
        <% end %>
        <% if policy(@plant).destroy? %>
          <%= link_to plant_path(@plant), method: :delete,  class: "btn btn-green" do %> Delete <% end %>
        <% else %>
          <div class="booking-form">
            <%= simple_form_for [@plant, @booking] do |f| %>
            <%= f.input :start_date %>
            <%= f.input :end_date %>
            <%= f.button :submit, "Book Now", class: "btn btn-green" %>
            <% end %>
          </div>
        <% end %>
        <%= link_to plants_path, class: "btn btn-light" do %> Back <% end %>
      </div>
    </div>
  </div>
</div>
