<h3><%= @plant.name %></h3>
<h3><%= @plant.species %></h3>
<h3><%= @plant.instructions %></h3>
<h3><%= @plant.daily_price %></h3>
<h3><%= @plant.danger_level %></h3>
<%= link_to 'Back home', plants_path %>
<% if policy(@plant).edit? %>
  <%= link_to "edit", edit_plant_path(@plant)  %>
<% end %>
<% if policy(@plant).destroy? %>
  <%= link_to "Delete", plant_path(@plant), method: :delete  %>
<% end %>
<%= link_to "Book now", new_plant_booking_path(@plant)  %>
